<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aichu.dao.autogeneration.mapper.AcSysBannerMapper">
  <resultMap id="BaseResultMap" type="com.aichu.dao.autogeneration.object.AcSysBannerDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="banner_url" jdbcType="VARCHAR" property="bannerUrl" />
    <result column="banner_type" jdbcType="TINYINT" property="bannerType" />
    <result column="banner_type_code" jdbcType="VARCHAR" property="bannerTypeCode" />
    <result column="banner_desc" jdbcType="VARCHAR" property="bannerDesc" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, banner_url, banner_type, banner_type_code, banner_desc, is_delete, create_time
  </sql>
  <select id="selectByExample" parameterType="com.aichu.dao.autogeneration.object.AcSysBannerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ac_sys_banner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ac_sys_banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ac_sys_banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aichu.dao.autogeneration.object.AcSysBannerExample">
    delete from ac_sys_banner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aichu.dao.autogeneration.object.AcSysBannerDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ac_sys_banner (banner_url, banner_type, banner_type_code, 
      banner_desc, is_delete, create_time
      )
    values (#{bannerUrl,jdbcType=VARCHAR}, #{bannerType,jdbcType=TINYINT}, #{bannerTypeCode,jdbcType=VARCHAR}, 
      #{bannerDesc,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aichu.dao.autogeneration.object.AcSysBannerDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ac_sys_banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bannerUrl != null">
        banner_url,
      </if>
      <if test="bannerType != null">
        banner_type,
      </if>
      <if test="bannerTypeCode != null">
        banner_type_code,
      </if>
      <if test="bannerDesc != null">
        banner_desc,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bannerUrl != null">
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerType != null">
        #{bannerType,jdbcType=TINYINT},
      </if>
      <if test="bannerTypeCode != null">
        #{bannerTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="bannerDesc != null">
        #{bannerDesc,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aichu.dao.autogeneration.object.AcSysBannerExample" resultType="java.lang.Long">
    select count(*) from ac_sys_banner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ac_sys_banner
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bannerUrl != null">
        banner_url = #{record.bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.bannerType != null">
        banner_type = #{record.bannerType,jdbcType=TINYINT},
      </if>
      <if test="record.bannerTypeCode != null">
        banner_type_code = #{record.bannerTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bannerDesc != null">
        banner_desc = #{record.bannerDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ac_sys_banner
    set id = #{record.id,jdbcType=INTEGER},
      banner_url = #{record.bannerUrl,jdbcType=VARCHAR},
      banner_type = #{record.bannerType,jdbcType=TINYINT},
      banner_type_code = #{record.bannerTypeCode,jdbcType=VARCHAR},
      banner_desc = #{record.bannerDesc,jdbcType=VARCHAR},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aichu.dao.autogeneration.object.AcSysBannerDO">
    update ac_sys_banner
    <set>
      <if test="bannerUrl != null">
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="bannerType != null">
        banner_type = #{bannerType,jdbcType=TINYINT},
      </if>
      <if test="bannerTypeCode != null">
        banner_type_code = #{bannerTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="bannerDesc != null">
        banner_desc = #{bannerDesc,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aichu.dao.autogeneration.object.AcSysBannerDO">
    update ac_sys_banner
    set banner_url = #{bannerUrl,jdbcType=VARCHAR},
      banner_type = #{bannerType,jdbcType=TINYINT},
      banner_type_code = #{bannerTypeCode,jdbcType=VARCHAR},
      banner_desc = #{bannerDesc,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.aichu.dao.autogeneration.object.AcSysBannerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ac_sys_banner
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>