<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aichu.dao.autogeneration.mapper.AcUserScoreMapper">
  <resultMap id="BaseResultMap" type="com.aichu.dao.autogeneration.object.AcUserScoreDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="aim_user_id" jdbcType="INTEGER" property="aimUserId" />
    <result column="comment_level" jdbcType="INTEGER" property="commentLevel" />
    <result column="comment_lable_id" jdbcType="VARCHAR" property="commentLableId" />
    <result column="comment_user_id" jdbcType="INTEGER" property="commentUserId" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, aim_user_id, comment_level, comment_lable_id, comment_user_id, is_delete, create_time
  </sql>
  <select id="selectByExample" parameterType="com.aichu.dao.autogeneration.object.AcUserScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ac_user_score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ac_user_score
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ac_user_score
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aichu.dao.autogeneration.object.AcUserScoreExample">
    delete from ac_user_score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aichu.dao.autogeneration.object.AcUserScoreDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ac_user_score (aim_user_id, comment_level, comment_lable_id, 
      comment_user_id, is_delete, create_time
      )
    values (#{aimUserId,jdbcType=INTEGER}, #{commentLevel,jdbcType=INTEGER}, #{commentLableId,jdbcType=VARCHAR}, 
      #{commentUserId,jdbcType=INTEGER}, #{isDelete,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aichu.dao.autogeneration.object.AcUserScoreDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ac_user_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aimUserId != null">
        aim_user_id,
      </if>
      <if test="commentLevel != null">
        comment_level,
      </if>
      <if test="commentLableId != null">
        comment_lable_id,
      </if>
      <if test="commentUserId != null">
        comment_user_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aimUserId != null">
        #{aimUserId,jdbcType=INTEGER},
      </if>
      <if test="commentLevel != null">
        #{commentLevel,jdbcType=INTEGER},
      </if>
      <if test="commentLableId != null">
        #{commentLableId,jdbcType=VARCHAR},
      </if>
      <if test="commentUserId != null">
        #{commentUserId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aichu.dao.autogeneration.object.AcUserScoreExample" resultType="java.lang.Long">
    select count(*) from ac_user_score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ac_user_score
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.aimUserId != null">
        aim_user_id = #{record.aimUserId,jdbcType=INTEGER},
      </if>
      <if test="record.commentLevel != null">
        comment_level = #{record.commentLevel,jdbcType=INTEGER},
      </if>
      <if test="record.commentLableId != null">
        comment_lable_id = #{record.commentLableId,jdbcType=VARCHAR},
      </if>
      <if test="record.commentUserId != null">
        comment_user_id = #{record.commentUserId,jdbcType=INTEGER},
      </if>
      <if test="record.isDelete != null">
        is_delete = #{record.isDelete,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ac_user_score
    set id = #{record.id,jdbcType=INTEGER},
      aim_user_id = #{record.aimUserId,jdbcType=INTEGER},
      comment_level = #{record.commentLevel,jdbcType=INTEGER},
      comment_lable_id = #{record.commentLableId,jdbcType=VARCHAR},
      comment_user_id = #{record.commentUserId,jdbcType=INTEGER},
      is_delete = #{record.isDelete,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aichu.dao.autogeneration.object.AcUserScoreDO">
    update ac_user_score
    <set>
      <if test="aimUserId != null">
        aim_user_id = #{aimUserId,jdbcType=INTEGER},
      </if>
      <if test="commentLevel != null">
        comment_level = #{commentLevel,jdbcType=INTEGER},
      </if>
      <if test="commentLableId != null">
        comment_lable_id = #{commentLableId,jdbcType=VARCHAR},
      </if>
      <if test="commentUserId != null">
        comment_user_id = #{commentUserId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aichu.dao.autogeneration.object.AcUserScoreDO">
    update ac_user_score
    set aim_user_id = #{aimUserId,jdbcType=INTEGER},
      comment_level = #{commentLevel,jdbcType=INTEGER},
      comment_lable_id = #{commentLableId,jdbcType=VARCHAR},
      comment_user_id = #{commentUserId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.aichu.dao.autogeneration.object.AcUserScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ac_user_score
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>